<h1 align="center">Содержание</h1>

* [1. Заливка данных](#1)
    
* [2. SELECT](#2)     
    * [2.1. Псевдонимы](#2.1)    
    * [2.2. Манипуляции со столбцами](#2.2)    
    * [2.3. WHERE](#2.3)
    * [2.4. LIKE](#2.4)    
    * [2.5. CREATE TABLE SQLite3](#2.5)    
    * [2.6. CREATE TABLE PostgreSQL](#2.6)
    * [2.7. UNION ALL](#2.7)    
    * [2.8. Специальные функции](#2.8)    
        
* [3. GROUP BY](#3)
    * [3.1. Сводная таблица](#3.1)   
    * [3.2. Пропуски](#3.2) 
    * [3.3. Дубликаты](#3.3)
    * [3.4. Агрегация](#3.4)
    * [3.5. Интервалы(бины или бакеты)](#3.5)   
    * [3.6. Столбцы сводной таблицы](#3.6) 
    * [3.7. Категории из текстовых данных](#3.7)
    
* [4. Подзапросы](#4)
    * [4.1. Обычный подзапрос](#4.1) 
    * [4.2. CTE(with)](#4.2)
    * [4.3. Когда лучше создавать таблицы](#4.3)

* [5. Джойны](#5)
    * [4.1. LEFT JOIN](#5.1) 
    * [4.2. Агрегация с джойнами](#5.2)
    * [4.3. FULL JOIN](#5.3)
    * [4.1. INNER JOIN](#5.4) 
    * [4.2. Ежемесячный отчет](#5.5)
    * [4.3. Ежемесячный отчет на пользователя](#5.6)
    * [4.1. Джойн таблицы самой на себя(нарастающий итог)](#5.7) 

* [6. Оконные функции](#6)
    * [6.1. Что такое оконная функция?](#6.1) 
    * [6.2. RANK и ROW_NUMBER](#6.2)
    * [6.3. Топ 3 зарплаты в отделе](#6.3)
    * [6.4. Клиентские сессии](#6.4) 
    * [6.5. Скользящее среднее](#6.5)

<a id="1"></a>

# <b>1 <span style='color:#422e13;font-family:cursive;'>|</span> Заливка данных</b>

Обновление sqlite. После запуска эта ячейка выдаст ошибку, так и должно быть: это нужно чтобы перезагрузить runtime. После того как эта ячейча отработает и выдаст ошибку можно запускать остальные ячейчки.

In [ ]:
! gdown 1CDqqyKV9BvrvnuR1l8HVz0aYuM4yOTUr
! mv _sqlite3.cpython-38-x86_64-linux-gnu.so /usr/lib/python3.8/lib-dynload/
import os
os.kill(os.getpid(), 9)

Downloading...
From: https://drive.google.com/uc?id=1CDqqyKV9BvrvnuR1l8HVz0aYuM4yOTUr
To: /content/_sqlite3.cpython-38-x86_64-linux-gnu.so
100% 6.59M/6.59M [00:00<00:00, 156MB/s]

In [ ]:
import pandas as pd
import numpy as np

import csv 

from io import StringIO

from sqlalchemy import create_engine
import sqlite3

In [ ]:
! pip install --upgrade 'sqlalchemy<2.0'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy<2.0 in /usr/local/lib/python3.10/dist-packages (1.4.48)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<2.0) (2.0.2)

In [ ]:
con = sqlite3.connect('db')
con_pg=create_engine('postgresql+psycopg2://eyuvbety:XzrT3t5ZHeG8oUhjXis2Zr9wnkkYeTii@floppy.db.elephantsql.com/eyuvbety')

In [ ]:
!gdown --id 1Gj0qVU0Acv-HqRjTIEwvkO4TqJYijehR

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1Gj0qVU0Acv-HqRjTIEwvkO4TqJYijehR
To: /content/german_credit_augmented.csv
100% 69.6k/69.6k [00:00<00:00, 68.2MB/s]

In [ ]:
df = pd.read_csv('/content/german_credit_augmented.csv')

In [ ]:
df.head()

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id
0,33,male,2,own,NaN,NaN,3074,9,radio/TV,0,2008-06-29 18:52:00,210
1,43,male,1,own,little,little,1344,12,car,0,2007-05-20 18:30:19,929
2,52,male,2,own,quite rich,NaN,936,9,education,0,2008-04-27 08:23:07,200
3,35,female,3,own,little,NaN,1393,11,car,0,2007-05-06 10:58:22,45
4,28,male,2,own,little,NaN,776,12,radio/TV,0,2007-07-21 13:22:14,358

In [ ]:
df['contract_dt'] = pd.to_datetime(df['contract_dt'],format='%Y-%m-%d %H:%M:%S')

In [ ]:
df.dtypes

age                          int64
sex                         object
job                          int64
housing                     object
saving_accounts             object
checking_account            object
credit_amount                int64
duration                     int64
purpose                     object
default                      int64
contract_dt         datetime64[ns]
client_id                    int64
dtype: object

In [ ]:
# функция для более быстрой заливки таблицы в базу данных PostgreSQL
def psql_insert_copy(table,conn,keys,data_iter):
  dbapi_conn=conn.connection
  with dbapi_conn.cursor() as cur:
    s_buf=StringIO()
    writer=csv.writer(s_buf)
    writer.writerows(data_iter)
    s_buf.seek(0)

    columns=', '.join('"{}"'.format(k) for k in keys)
    if table.schema:
      table_name='{}.{}'.format(table.schema,table.name)
    else:
      table_name=table.name
    sql='COPY {} ({}) FROM STDIN WITH CSV'.format(
        table_name,columns)
    cur.copy_expert(sql=sql,file=s_buf)

In [ ]:
df.to_sql('german_credit',con,index=False,if_exists='replace')

1000

In [ ]:
df.to_sql('german_credit',con_pg,index=False,if_exists='replace',method=psql_insert_copy)

In [ ]:
# функция для запросов из базы данных SQLite3
def select(query):
  return pd.read_sql(query,con)

# функция для запросов из базы данных PostgreSQL
def select_pg(query):
  return pd.read_sql(query,con_pg)

<a id="2"></a>

# <b>2 <span style='color:#422e13;font-family:cursive;'>|</span> SELECT</b>

<a id="2.1"></a>

# <b>2.1 <span style='color:#422e13;font-family:cursive;'>|</span> Псевдонимы</b>

In [ ]:
sql = '''
SELECT t.age * 3 AS age_mult3,
       t.housing
FROM german_credit AS t
'''

In [ ]:
select(sql)

     age_mult3 housing
0           99     own
1          129     own
2          156     own
3          105     own
4           84     own
..         ...     ...
995        195    free
996         90     own
997         99     own
998         87     own
999        132     own

[1000 rows x 2 columns]

<a id="2.2"></a>

# <b>2.2 <span style='color:#422e13;font-family:cursive;'>|</span> Манипуляции со столбцами</b>

In [ ]:
sql = '''
SELECT t.*, 
t.age * 3 as age_mult3,
t.age + t.credit_amount as age_plus_amount,
t.age * 1.0 / t.credit_amount as age_div_amount,
t.age as age_2
FROM german_credit t
'''

In [ ]:
select(sql)

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id,age_mult3,age_plus_amount,age_div_amount,age_2
0,33,male,2,own,None,None,3074,9,radio/TV,0,2008-06-29 18:52:00,210,99,3107,0.010735,33
1,43,male,1,own,little,little,1344,12,car,0,2007-05-20 18:30:19,929,129,1387,0.031994,43
2,52,male,2,own,quite rich,None,936,9,education,0,2008-04-27 08:23:07,200,156,988,0.055556,52
3,35,female,3,own,little,None,1393,11,car,0,2007-05-06 10:58:22,45,105,1428,0.025126,35
4,28,male,2,own,little,None,776,12,radio/TV,0,2007-07-21 13:22:14,358,84,804,0.036082,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,65,male,2,free,little,little,2600,18,radio/TV,1,2007-12-16 20:17:19,624,195,2665,0.025000,65
996,30,male,3,own,little,moderate,4455,36,business,1,2007-07-12 14:08:58,181,90,4485,0.006734,30
997,33,male,2,own,little,moderate,6403,24,radio/TV,0,2008-04-08 03:24:26,730,99,6436,0.005154,33
998,29,female,2,own,None,None,5003,21,car,1,2007-11-29 15:51:45,557,87,5032,0.005797,29
999,44,male,2,own,moderate,moderate,1804,12,car,0,2007-08-14 09:05:33,23,132,1848,0.024390,44

<a id="2.3"></a>

# <b>2.3 <span style='color:#422e13;font-family:cursive;'>|</span> WHERE </b>

In [ ]:
df.head()

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id
0,33,male,2,own,NaN,NaN,3074,9,radio/TV,0,2008-06-29 18:52:00,210
1,43,male,1,own,little,little,1344,12,car,0,2007-05-20 18:30:19,929
2,52,male,2,own,quite rich,NaN,936,9,education,0,2008-04-27 08:23:07,200
3,35,female,3,own,little,NaN,1393,11,car,0,2007-05-06 10:58:22,45
4,28,male,2,own,little,NaN,776,12,radio/TV,0,2007-07-21 13:22:14,358

In [ ]:
sql = '''
SELECT * 
FROM german_credit t LIMIT 5
'''

In [ ]:
select_pg(sql)

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id
0,33,male,2,own,None,None,3074,9,radio/TV,0,2008-06-29 18:52:00,210
1,43,male,1,own,little,little,1344,12,car,0,2007-05-20 18:30:19,929
2,52,male,2,own,quite rich,None,936,9,education,0,2008-04-27 08:23:07,200
3,35,female,3,own,little,None,1393,11,car,0,2007-05-06 10:58:22,45
4,28,male,2,own,little,None,776,12,radio/TV,0,2007-07-21 13:22:14,358

In [ ]:
sql = '''
SELECT count(1) AS count_contract 
FROM german_credit t 
WHERE t.contract_dt between '2007-01-01' and '2007-12-31'
'''

In [ ]:
select_pg(sql)

   count_contract
0             573

In [ ]:
sql = '''
SELECT * from german_credit t 
WHERE t.contract_dt between '2007-01-01' and '2007-12-31'
and t.purpose in ('car' ,'repairs')

ORDER BY t.contract_dt desc, credit_amount 
'''

In [ ]:
select_pg(sql)

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id
0,36,male,3,rent,None,moderate,7057,20,car,0,2007-12-29 16:10:08,99
1,30,male,2,own,little,moderate,639,12,repairs,1,2007-12-28 17:09:43,127
2,25,male,2,rent,moderate,moderate,1264,15,car,1,2007-12-28 08:38:58,979
3,48,male,2,own,little,None,2134,9,car,0,2007-12-24 16:28:30,20
4,67,female,2,own,little,moderate,3872,18,repairs,0,2007-12-24 12:25:28,779
...,...,...,...,...,...,...,...,...,...,...,...,...
192,55,male,2,own,rich,None,1413,12,car,0,2007-05-05 06:35:11,209
193,55,female,0,free,little,little,1190,18,repairs,1,2007-05-05 00:14:17,429
194,47,male,3,own,little,moderate,1209,6,car,1,2007-05-03 10:29:01,485
195,36,male,2,own,little,moderate,884,18,car,1,2007-05-02 06:22:11,184
196,31,male,2,own,little,None,2775,18,car,1,2007-05-01 23:14:02,598

<a id="2.4"></a>

# <b>2.4 <span style='color:#422e13;font-family:cursive;'>|</span> LIKE</b>

In [ ]:
t = pd.DataFrame({'purpose':['машина','на машину','на покупку машины','автомобиль','на возвращение 2007'],
              'amount':[1000,400,600,700,1500]})

In [ ]:
t

               purpose  amount
0               машина    1000
1            на машину     400
2    на покупку машины     600
3           автомобиль     700
4  на возвращение 2007    1500

In [ ]:
t.to_sql('purpose',con,index=False,if_exists='replace')

5

In [ ]:
sql = '''
SELECT * 
FROM purpose t
'''

In [ ]:
select(sql)

               purpose  amount
0               машина    1000
1            на машину     400
2    на покупку машины     600
3           автомобиль     700
4  на возвращение 2007    1500

In [ ]:
sql = '''
SELECT * 
FROM purpose t
WHERE  (t.purpose like '%машин%'
or t.purpose like '%авто%') and t.amount > 500
'''

In [ ]:
select(sql)

             purpose  amount
0             машина    1000
1  на покупку машины     600
2         автомобиль     700

In [ ]:
sql = '''
SELECT count(*) 
FROM german_credit t
'''

In [ ]:
select(sql)

   count(*)
0      1000

In [ ]:
sql = '''
SELECT count(*) 
FROM german_credit t
WHERE t.credit_amount > 1000
'''

In [ ]:
select(sql)

   count(*)
0       884

In [ ]:
sql = '''
SELECT t.credit_amount,
CASE WHEN t.credit_amount > 1000 then 1 else 0 end as greater_1000_flag
FROM german_credit t
'''

In [ ]:
select(sql)

     credit_amount  greater_1000_flag
0             3074                  1
1             1344                  1
2              936                  0
3             1393                  1
4              776                  0
..             ...                ...
995           2600                  1
996           4455                  1
997           6403                  1
998           5003                  1
999           1804                  1

[1000 rows x 2 columns]

In [ ]:
sql = '''
SELECT 
      avg(case when t.credit_amount > 1000 then 1 else 0 end) as greater_1000_frac
FROM german_credit t
'''

In [ ]:
select(sql)

   greater_1000_frac
0              0.884

<a id="2.5"></a>

# <b>2.5 <span style='color:#422e13;font-family:cursive;'>|</span> CREATE TABLE SQLite3</b>

In [ ]:
sql = '''
select * 
from german_credit t
where t.credit_amount > 1000
'''

In [ ]:
select(sql)

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id
0,33,male,2,own,None,None,3074,9,radio/TV,0,2008-06-29 18:52:00,210
1,43,male,1,own,little,little,1344,12,car,0,2007-05-20 18:30:19,929
2,35,female,3,own,little,None,1393,11,car,0,2007-05-06 10:58:22,45
3,27,female,2,own,little,moderate,1295,18,furniture/equipment,0,2008-06-18 04:10:05,86
4,26,male,2,own,little,little,4370,42,radio/TV,1,2007-11-29 00:20:44,639
...,...,...,...,...,...,...,...,...,...,...,...,...
879,65,male,2,free,little,little,2600,18,radio/TV,1,2007-12-16 20:17:19,624
880,30,male,3,own,little,moderate,4455,36,business,1,2007-07-12 14:08:58,181
881,33,male,2,own,little,moderate,6403,24,radio/TV,0,2008-04-08 03:24:26,730
882,29,female,2,own,None,None,5003,21,car,1,2007-11-29 15:51:45,557
883,44,male,2,own,moderate,moderate,1804,12,car,0,2007-08-14 09:05:33,23

In [ ]:
cur = con.cursor()

In [ ]:
sql = '''
drop table if exists greater_1000_credit;
create table greater_1000_credit as
select * from german_credit t
where t.credit_amount > 1000'''

In [ ]:
cur.executescript(sql)

In [ ]:
sql = '''select * from greater_1000_credit t'''

In [ ]:
select(sql)

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id
0,33,male,2,own,None,None,3074,9,radio/TV,0,2008-06-29 18:52:00,210
1,43,male,1,own,little,little,1344,12,car,0,2007-05-20 18:30:19,929
2,35,female,3,own,little,None,1393,11,car,0,2007-05-06 10:58:22,45
3,27,female,2,own,little,moderate,1295,18,furniture/equipment,0,2008-06-18 04:10:05,86
4,26,male,2,own,little,little,4370,42,radio/TV,1,2007-11-29 00:20:44,639
...,...,...,...,...,...,...,...,...,...,...,...,...
879,65,male,2,free,little,little,2600,18,radio/TV,1,2007-12-16 20:17:19,624
880,30,male,3,own,little,moderate,4455,36,business,1,2007-07-12 14:08:58,181
881,33,male,2,own,little,moderate,6403,24,radio/TV,0,2008-04-08 03:24:26,730
882,29,female,2,own,None,None,5003,21,car,1,2007-11-29 15:51:45,557
883,44,male,2,own,moderate,moderate,1804,12,car,0,2007-08-14 09:05:33,23

<a id="2.6"></a>

# <b>2.6 <span style='color:#422e13;font-family:cursive;'>|</span> CREATE TABLE PostgreSQL</b>

In [ ]:
sql = '''
select * 
from german_credit t
where t.credit_amount > 1000'''

In [ ]:
select_pg(sql)

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id
0,33,male,2,own,None,None,3074,9,radio/TV,0,2008-06-29 18:52:00,210
1,43,male,1,own,little,little,1344,12,car,0,2007-05-20 18:30:19,929
2,35,female,3,own,little,None,1393,11,car,0,2007-05-06 10:58:22,45
3,27,female,2,own,little,moderate,1295,18,furniture/equipment,0,2008-06-18 04:10:05,86
4,26,male,2,own,little,little,4370,42,radio/TV,1,2007-11-29 00:20:44,639
...,...,...,...,...,...,...,...,...,...,...,...,...
879,65,male,2,free,little,little,2600,18,radio/TV,1,2007-12-16 20:17:19,624
880,30,male,3,own,little,moderate,4455,36,business,1,2007-07-12 14:08:58,181
881,33,male,2,own,little,moderate,6403,24,radio/TV,0,2008-04-08 03:24:26,730
882,29,female,2,own,None,None,5003,21,car,1,2007-11-29 15:51:45,557
883,44,male,2,own,moderate,moderate,1804,12,car,0,2007-08-14 09:05:33,23

In [ ]:
sql = '''
drop table if exists greater_1000_credit;
create table greater_1000_credit as
select * from german_credit t
where t.credit_amount > 1000
'''

In [ ]:
con_pg.execute(sql)

In [ ]:
sql = '''select * from greater_1000_credit t'''

In [ ]:
select_pg(sql)

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id
0,33,male,2,own,None,None,3074,9,radio/TV,0,2008-06-29 18:52:00,210
1,43,male,1,own,little,little,1344,12,car,0,2007-05-20 18:30:19,929
2,35,female,3,own,little,None,1393,11,car,0,2007-05-06 10:58:22,45
3,27,female,2,own,little,moderate,1295,18,furniture/equipment,0,2008-06-18 04:10:05,86
4,26,male,2,own,little,little,4370,42,radio/TV,1,2007-11-29 00:20:44,639
...,...,...,...,...,...,...,...,...,...,...,...,...
879,65,male,2,free,little,little,2600,18,radio/TV,1,2007-12-16 20:17:19,624
880,30,male,3,own,little,moderate,4455,36,business,1,2007-07-12 14:08:58,181
881,33,male,2,own,little,moderate,6403,24,radio/TV,0,2008-04-08 03:24:26,730
882,29,female,2,own,None,None,5003,21,car,1,2007-11-29 15:51:45,557
883,44,male,2,own,moderate,moderate,1804,12,car,0,2007-08-14 09:05:33,23

<a id="2.7"></a>

# <b>2.7 <span style='color:#422e13;font-family:cursive;'>|</span> UNION ALL</b>

In [ ]:
jan = pd.DataFrame({'month':['jan','jan'],'revenue':[1,2]})
feb = pd.DataFrame({'month':['feb','feb'],'revenue':[1,2]})

In [ ]:
jan.to_sql('jan',con,index=False,if_exists='replace')
feb.to_sql('feb',con,index=False,if_exists='replace')

2

In [ ]:
sql = '''
select * 
from jan t
union all
select * 
from feb t
'''

In [ ]:
select(sql)

  month  revenue
0   jan        1
1   jan        2
2   feb        1
3   feb        2

In [ ]:
sql = '''
select t.revenue 
from jan t
union
select t.revenue 
from feb t'''

In [ ]:
select(sql)

   revenue
0        1
1        2

In [ ]:
sql = '''
select t.revenue,
       'jan' as month
from jan t
union all
select t.revenue,
'mar' as month
from feb t'''

In [ ]:
select(sql)

   revenue month
0        1   jan
1        2   jan
2        1   mar
3        2   mar

<a id="2.8"></a>

# <b>2.8 <span style='color:#422e13;font-family:cursive;'>|</span> Манипуляции с столбцами</b>

In [ ]:
sql = '''
select t.sex, 
       substr(t.sex,1,1) AS sex_first_letter
from german_credit t
'''

In [ ]:
select(sql)

        sex sex_first_letter
0      male                m
1      male                m
2      male                m
3    female                f
4      male                m
..      ...              ...
995    male                m
996    male                m
997    male                m
998  female                f
999    male                m

[1000 rows x 2 columns]

In [ ]:
sql = '''
select t.sex,
substring(t.sex,1,1),

left(t.sex,1)

from german_credit t'''

In [ ]:
select_pg(sql)

        sex substring left
0      male         m    m
1      male         m    m
2      male         m    m
3    female         f    f
4      male         m    m
..      ...       ...  ...
995    male         m    m
996    male         m    m
997    male         m    m
998  female         f    f
999    male         m    m

[1000 rows x 3 columns]

<a id="3"></a>

# <b>3 <span style='color:#422e13;font-family:cursive;'>|</span> GROUP BY</b>

<a id="3.1"></a>

# <b>3.1 <span style='color:#422e13;font-family:cursive;'>|</span> Сводная таблица</b>

In [ ]:
sql = '''
select 
t.sex,

count(*) as cnt,
avg(t.credit_amount) as credit_amount_avg

from german_credit t
group by t.sex
 '''

In [ ]:
select(sql)

      sex  cnt  credit_amount_avg
0  female  310        2877.774194
1    male  690        3448.040580

In [ ]:
df.groupby('sex')['credit_amount'].agg(['count','mean'])

        count         mean
sex
female    310  2877.774194
male      690  3448.040580

In [ ]:
sql = '''
select count(distinct t.housing), 
       count(t.housing) 
from german_credit t
'''

In [ ]:
select(sql)

   count(distinct t.housing)  count(t.housing)
0                          3              1000

In [ ]:
sql = '''
select 
      t.housing,
      count(*) as cnt,
      avg(t.credit_amount) as credit_amount_avg
from german_credit t
group by t.housing
 '''

In [ ]:
select(sql)

  housing  cnt  credit_amount_avg
0    free  108        4906.212963
1     own  713        3060.939691
2    rent  179        3122.553073

<a id="3.2"></a>

# <b>3.2 <span style='color:#422e13;font-family:cursive;'>|</span> Пропуски</b>

In [ ]:
sql = '''
select count(t.checking_account), 
       count(*) AS count_all
from german_credit t
'''

In [ ]:
select(sql)

   count(t.checking_account)  count_all
0                        606       1000

In [ ]:
sql = '''
select 
      t.checking_account,
      count(*) as cnt,
      avg(t.credit_amount) as credit_amount_avg
from german_credit t
group by t.checking_account
 '''

In [ ]:
select(sql)

  checking_account  cnt  credit_amount_avg
0             None  394        3133.101523
1           little  274        3175.218978
2         moderate  269        3827.561338
3             rich   63        2177.650794

In [ ]:
df.groupby('checking_account',dropna=False)['credit_amount'].count()

checking_account
little      274
moderate    269
rich         63
NaN         394
Name: credit_amount, dtype: int64

In [ ]:
sql = '''
select 
      sum(case when t.checking_account is null then 1 else 0 end) as is_null,
      count(case when t.checking_account is null then 1 else null end) as is_null2
from german_credit t'''

In [ ]:
select(sql)

   is_null  is_null2
0      394       394

In [ ]:
t = pd.DataFrame({'col1':[1,np.nan,2]})

In [ ]:
t

   col1
0   1.0
1   NaN
2   2.0

In [ ]:
t.to_sql('null_test',con,index=False,if_exists='replace')

3

In [ ]:
t

   col1
0   1.0
1   NaN
2   2.0

In [ ]:
(1 + 2) / 3

1.0

In [ ]:
(1 + 0 + 2) / 3

1.0

In [ ]:
sql = '''
select 
      avg(t.col1) 
from null_test t
'''

In [ ]:
select(sql)

   avg(t.col1)
0          1.5

In [ ]:
sql = '''
select
      t.checking_account,
      coalesce(t.checking_account,'no_info')
from german_credit t
'''

In [ ]:
select(sql)

    checking_account coalesce(t.checking_account,'no_info')
0               None                                no_info
1             little                                 little
2               None                                no_info
3               None                                no_info
4               None                                no_info
..               ...                                    ...
995           little                                 little
996         moderate                               moderate
997         moderate                               moderate
998             None                                no_info
999         moderate                               moderate

[1000 rows x 2 columns]

In [ ]:
sql = '''
select 
      avg(coalesce(t.col1,0)) 
from null_test t
'''

In [ ]:
select(sql)

   avg(coalesce(t.col1,0))
0                      1.0

In [ ]:
t = pd.DataFrame({'col1':[1,np.nan,2],
                  'col2':[np.nan,np.nan,1],
                  'col3':[1,2,3]})

In [ ]:
t

   col1  col2  col3
0   1.0   NaN     1
1   NaN   NaN     2
2   2.0   1.0     3

In [ ]:
t.to_sql('null_test',con,index=False,if_exists='replace')

3

In [ ]:
sql = '''
select 
      t.*, 
      coalesce(t.col1,t.col2,t.col3) 
from null_test t
'''

In [ ]:
select(sql)

   col1  col2  col3  coalesce(t.col1,t.col2,t.col3)
0   1.0   NaN     1                             1.0
1   NaN   NaN     2                             2.0
2   2.0   1.0     3                             2.0

<a id="3.3"></a>

# <b>3.3 <span style='color:#422e13;font-family:cursive;'>|</span> Дубликаты</b>

In [ ]:
t = pd.DataFrame({'id':[1,1,2],'name':['a','a','b']})

In [ ]:
t

   id name
0   1    a
1   1    a
2   2    b

In [ ]:
t.to_sql('dupl_test',con,index=False,if_exists='replace')

3

In [ ]:
sql = '''
select * 
from dupl_test t
'''

In [ ]:
select(sql)

   id name
0   1    a
1   1    a
2   2    b

In [ ]:
sql = '''
select 
      t.id, 
      t.name, 
      count(1) as cnt 
from dupl_test t
group by t.id, t.name
'''

In [ ]:
select(sql)

   id name  cnt
0   1    a    2
1   2    b    1

In [ ]:
sql = '''
select 
      t.id, 
      t.name, 
      count(1) as cnt 
from dupl_test t
group by t.id, t.name
having count(1) > 1
'''

In [ ]:
select(sql)

   id name  cnt
0   1    a    2

In [ ]:
t = pd.DataFrame({'id':[1,1,2,2,3],
                  'name':['a','b','c','d','e']})

In [ ]:
t

   id name
0   1    a
1   1    b
2   2    c
3   2    d
4   3    e

In [ ]:
t.to_sql('dupl_test',con,index=False,if_exists='replace')

5

In [ ]:
sql = '''
select * 
from dupl_test t'''

In [ ]:
select(sql)

   id name
0   1    a
1   1    b
2   2    c
3   2    d
4   3    e

In [ ]:
sql = '''
select 
      t.id, 
      count(1) as cnt 
from dupl_test t
group by t.id
having count(1) > 1
'''

In [ ]:
select(sql)

   id  cnt
0   1    2
1   2    2

In [ ]:
sql = '''
select * 
from dupl_test t
where t.id in (1,2)
'''

In [ ]:
select(sql)

   id name
0   1    a
1   1    b
2   2    c
3   2    d

In [ ]:
sql = '''
select 
      t.id as cnt 
from dupl_test t
group by t.id
having count(1) > 1
'''

In [ ]:
select(sql)

   cnt
0    1
1    2

In [ ]:
sql = '''
select * 
from dupl_test t
where t.id in (select t.id as cnt from dupl_test t
group by t.id
having count(1) > 1)'''

In [ ]:
select(sql)

   id name
0   1    a
1   1    b
2   2    c
3   2    d


<a id="3.4"></a>

# <b>3.4 <span style='color:#422e13;font-family:cursive;'>|</span> Агрегация</b>

In [ ]:
sql = '''
select 
      date(t.contract_dt,'start of month') as month,
      count(1) as credit_cnt,
      count(distinct t.client_id) as client_id_unique,
      sum(t.credit_amount) as credit_amount_sum,
      avg(t.credit_amount) as credit_amount_avg
from german_credit t
group by date(t.contract_dt,'start of month')
order by date(t.contract_dt,'start of month')
 '''

In [ ]:
select(sql)

,month,credit_cnt,client_id_unique,credit_amount_sum,credit_amount_avg
0,2007-05-01,81,81,207663,2563.740741
1,2007-06-01,74,74,239594,3237.756757
2,2007-07-01,71,71,224333,3159.619718
3,2007-08-01,57,57,178569,3132.789474
4,2007-09-01,58,58,186909,3222.568966
5,2007-10-01,70,70,188534,2693.342857
6,2007-11-01,87,87,300504,3454.068966
7,2007-12-01,77,77,273973,3558.090909
8,2008-01-01,93,93,288080,3097.634409
9,2008-02-01,55,55,211128,3838.690909
10,2008-03-01,63,63,204944,3253.079365
11,2008-04-01,85,85,305409,3593.047059
12,2008-05-01,67,67,263043,3926.014925
13,2008-06-01,62,62,198575,3202.822581

In [ ]:
pd.Series(range(600)).sample(1000,replace=True)

157    157
228    228
233    233
342    342
227    227
      ...
236    236
79      79
65      65
492    492
561    561
Length: 1000, dtype: int64

In [ ]:
df['client_id_2'] = pd.Series(range(600)).sample(1000,replace=True).values

In [ ]:
df.to_sql('german_credit_not_unieque',con,index=False,if_exists='replace')

1000

In [ ]:
sql = '''
select 
      date(t.contract_dt,'start of month') as month,
      count(1) as credit_cnt,
      count(distinct t.client_id_2) as client_id_unique,
      sum(t.credit_amount) as credit_amount_sum,
      avg(t.credit_amount) as credit_amount_avg

from german_credit_not_unieque t
group by date(t.contract_dt,'start of month')
order by date(t.contract_dt,'start of month')
 '''

In [ ]:
select(sql)

,month,credit_cnt,client_id_unique,credit_amount_sum,credit_amount_avg
0,2007-05-01,81,79,207663,2563.740741
1,2007-06-01,74,71,239594,3237.756757
2,2007-07-01,71,65,224333,3159.619718
3,2007-08-01,57,56,178569,3132.789474
4,2007-09-01,58,55,186909,3222.568966
5,2007-10-01,70,64,188534,2693.342857
6,2007-11-01,87,82,300504,3454.068966
7,2007-12-01,77,74,273973,3558.090909
8,2008-01-01,93,86,288080,3097.634409
9,2008-02-01,55,55,211128,3838.690909
10,2008-03-01,63,59,204944,3253.079365
11,2008-04-01,85,82,305409,3593.047059
12,2008-05-01,67,61,263043,3926.014925
13,2008-06-01,62,59,198575,3202.822581

<a id="3.5"></a>

# <b>3.5 <span style='color:#422e13;font-family:cursive;'>|</span> Интервалы (или бины или бакеты)</b>

In [ ]:
sql = '''
select 
      count(distinct t.credit_amount) 
from german_credit t'''

In [ ]:
select(sql)

   count(distinct t.credit_amount)
0                              921

In [ ]:
sql = '''
select 
      t.credit_amount,
      case when t.credit_amount < 1000 then '1. <1000'
      when t.credit_amount < 2000 then '2. 1000-2000' 
      when t.credit_amount < 3000 then '3. 2000-3000'
      when t.credit_amount >= 3000 then '4. >= 3000'
      else 'other' end as credit_amount_bin
from german_credit t'''

In [ ]:
select(sql)

     credit_amount credit_amount_bin
0             3074        4. >= 3000
1             1344      2. 1000-2000
2              936          1. <1000
3             1393      2. 1000-2000
4              776          1. <1000
..             ...               ...
995           2600      3. 2000-3000
996           4455        4. >= 3000
997           6403        4. >= 3000
998           5003        4. >= 3000
999           1804      2. 1000-2000

[1000 rows x 2 columns]

In [ ]:
sql = '''
select 
      case 
      when t.credit_amount < 1000 then '1. <1000'
      when t.credit_amount < 2000 then '2. 1000-2000' 
      when t.credit_amount < 3000 then '3. 2000-3000'
      when t.credit_amount >= 3000 then '4. >= 3000'
      else 'other' end as credit_amount_bin,
      count(1) as credit_cnt

from german_credit t
group by 1
'''

In [ ]:
select(sql)

  credit_amount_bin  credit_cnt
0          1. <1000         116
1      2. 1000-2000         316
2      3. 2000-3000         188
3        4. >= 3000         380

<a id="3.6"></a>

# <b>3.6 <span style='color:#422e13;font-family:cursive;'>|</span> Столбцы сводной таблицы</b>

In [ ]:
sql = '''
select 
      t.housing, 
      count(case when t.sex = 'female' then 1 else null end) as female,
      count(case when t.sex = 'male' then 1 else null end) as male,
      count(1) as cnt 

from german_credit t
group  by t.housing'''

In [ ]:
select(sql)

  housing  female  male  cnt
0    free      19    89  108
1     own     196   517  713
2    rent      95    84  179

In [ ]:
sql = '''
select distinct t.purpose 
from german_credit t'''

In [ ]:
purpose = list(select(sql)['purpose'].values)

In [ ]:
purpose

['radio/TV',
 'car',
 'education',
 'furniture/equipment',
 'repairs',
 'business',
 'domestic appliances',
 'vacation/others']

In [ ]:
for p in purpose:
  print(f"count(case when t.purpose = '{p}' then 1 else null end) as {p.lower().replace(' ','').replace('/','')},")

count(case when t.purpose = 'radio/TV' then 1 else null end) as radiotv,
count(case when t.purpose = 'car' then 1 else null end) as car,
count(case when t.purpose = 'education' then 1 else null end) as education,
count(case when t.purpose = 'furniture/equipment' then 1 else null end) as furnitureequipment,
count(case when t.purpose = 'repairs' then 1 else null end) as repairs,
count(case when t.purpose = 'business' then 1 else null end) as business,
count(case when t.purpose = 'domestic appliances' then 1 else null end) as domesticappliances,
count(case when t.purpose = 'vacation/others' then 1 else null end) as vacationothers,

In [ ]:
sql = '''
select 
      t.housing, 
      count(case when t.purpose = 'radio/TV' then 1 else null end) as radiotv,
      count(case when t.purpose = 'car' then 1 else null end) as car,
      count(case when t.purpose = 'education' then 1 else null end) as education,
      count(case when t.purpose = 'furniture/equipment' then 1 else null end) as furnitureequipment,
      count(case when t.purpose = 'repairs' then 1 else null end) as repairs,
      count(case when t.purpose = 'business' then 1 else null end) as business,
      count(case when t.purpose = 'domestic appliances' then 1 else null end) as domesticappliances,
      count(case when t.purpose = 'vacation/others' then 1 else null end) as vacationothers,
      count(1) as cnt 

from german_credit t
group  by t.housing'''

In [ ]:
select(sql)

,housing,radiotv,car,education,furnitureequipment,repairs,business,domesticappliances,vacationothers,cnt
0,free,15,55,15,11,3,5,0,4,108
1,own,227,219,34,122,17,76,10,8,713
2,rent,38,63,10,48,2,16,2,0,179

<a id="3.7"></a>

# <b>3.7 <span style='color:#422e13;font-family:cursive;'>|</span> Категории из текстовых данных</b>

In [ ]:
t = pd.DataFrame({'purpose':['машина','машина','машина','на машину','на покупку машины',
                             'автомобиль','на свадьбу','свадьба',
                             'свадьба','свадьба','для свадьбы',
                             'недвижимость','на покупку недвижимости']})

In [ ]:
t

                    purpose
0                    машина
1                    машина
2                    машина
3                 на машину
4         на покупку машины
5                автомобиль
6                на свадьбу
7                   свадьба
8                   свадьба
9                   свадьба
10              для свадьбы
11             недвижимость
12  на покупку недвижимости

In [ ]:
t.to_sql('purpose',con,index=False,if_exists='replace')

13

In [ ]:
df.head()

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id,client_id_2
0,33,male,2,own,NaN,NaN,3074,9,radio/TV,0,2008-06-29 18:52:00,210,68
1,43,male,1,own,little,little,1344,12,car,0,2007-05-20 18:30:19,929,214
2,52,male,2,own,quite rich,NaN,936,9,education,0,2008-04-27 08:23:07,200,411
3,35,female,3,own,little,NaN,1393,11,car,0,2007-05-06 10:58:22,45,425
4,28,male,2,own,little,NaN,776,12,radio/TV,0,2007-07-21 13:22:14,358,556

In [ ]:
sql = '''
select * 
from purpose t
'''

In [ ]:
select(sql)

                    purpose
0                    машина
1                    машина
2                    машина
3                 на машину
4         на покупку машины
5                автомобиль
6                на свадьбу
7                   свадьба
8                   свадьба
9                   свадьба
10              для свадьбы
11             недвижимость
12  на покупку недвижимости

In [ ]:
sql = '''
select 
      t.purpose, 
      count(1) 
from purpose t
group by t.purpose
order by count(1) desc'''

In [ ]:
select(sql)

                   purpose  count(1)
0                  свадьба         3
1                   машина         3
2             недвижимость         1
3               на свадьбу         1
4  на покупку недвижимости         1
5        на покупку машины         1
6                на машину         1
7              для свадьбы         1
8               автомобиль         1

In [ ]:
cat = '''
select 
      t.purpose,
      case when t.purpose like '%свадьб%' then 'свадьба'
      when t.purpose like '%машин%' or t.purpose like '%авто%' then 'машина'
      when t.purpose like '%недвиж%' then 'недвижимость'
      else 'другое' end as purpose_cat

from purpose t'''

In [ ]:
select(cat)

                    purpose   purpose_cat
0                    машина        машина
1                    машина        машина
2                    машина        машина
3                 на машину        машина
4         на покупку машины        машина
5                автомобиль        машина
6                на свадьбу       свадьба
7                   свадьба       свадьба
8                   свадьба       свадьба
9                   свадьба       свадьба
10              для свадьбы       свадьба
11             недвижимость  недвижимость
12  на покупку недвижимости  недвижимость

In [ ]:
sql = f'''
select 
      t.purpose_cat,
      count(1)
from ({cat}) t
group by t.purpose_cat'''

In [ ]:
select(sql)

    purpose_cat  count(1)
0        машина         6
1  недвижимость         2
2       свадьба         5

In [ ]:
sql = f'''
select 
      t.purpose, 
      count(1) 
from ({cat}) t
where t.purpose_cat = 'другое'
group by t.purpose
order by count(1) desc'''

In [ ]:
select(sql)

Empty DataFrame
Columns: [purpose, count(1)]
Index: []

<a id="4"></a>

# <b>4 <span style='color:#422e13;font-family:cursive;'>|</span> Подзапросы</b>

<a id="4.1"></a>

# <b>4.1 <span style='color:#422e13;font-family:cursive;'>|</span> Обычный подзапрос</b>

In [ ]:
t = pd.DataFrame({'id':[1,1,2,2,3],
                  'name':['a','b','c','d','e']})

In [ ]:
t

   id name
0   1    a
1   1    b
2   2    c
3   2    d
4   3    e

In [ ]:
t.to_sql('dupl_test',con,index=False,if_exists='replace')

5

In [ ]:
sql = '''select * from dupl_test t'''

In [ ]:
select(sql)

   id name
0   1    a
1   1    b
2   2    c
3   2    d
4   3    e

In [ ]:
sql = '''
select 
      t.id 
from dupl_test t
group by t.id
having count(1) > 1'''

In [ ]:
select(sql)

   id
0   1
1   2

In [ ]:
sql = '''
select * 
from dupl_test t
where t.id in (select t.id from dupl_test t
group by t.id
having count(1) > 1)'''

In [ ]:
select(sql)

   id name
0   1    a
1   1    b
2   2    c
3   2    d

In [ ]:
sql = '''
drop table if exists dupls;
create table dupls as
select t.id from dupl_test t
group by t.id
having count(1) > 1'''

In [ ]:
cur.executescript(sql)

In [ ]:
sql = '''select * from dupls t'''

In [ ]:
select(sql)

   id
0   1
1   2

In [ ]:
sql = '''
select * 
from dupl_test t
where t.id in dupls'''

In [ ]:
select(sql)

   id name
0   1    a
1   1    b
2   2    c
3   2    d

In [ ]:
sql = '''
select *
from (
select t.id,count(1) as cnt from dupl_test t
group by t.id) t

where t.cnt > 1
'''

In [ ]:
select(sql)

   id  cnt
0   1    2
1   2    2

<a id="4.2"></a>

# <b>4.2 <span style='color:#422e13;font-family:cursive;'>|</span> CTE (with)</b>

In [ ]:
sql = '''
select * 
from (
select * from 
(select t.id,count(1) as cnt from dupl_test t
group by t.id) t
where t.cnt > 1) t

where t.id = 1
'''

In [ ]:
select(sql)

   id  cnt
0   1    2

In [ ]:
sql = '''
with id_cnt as (
select t.id,count(1) as cnt from dupl_test t
group by t.id),

id_cnt_2 as

(select * from id_cnt t
where t.cnt > 1)

select * from id_cnt_2 t
where t.id = 1

'''

In [ ]:
select(sql)

   id  cnt
0   1    2

In [ ]:
sql = f'''
select 
    t.purpose_cat,
    count(1)

from ({cat}) t
group by t.purpose_cat'''

In [ ]:
print(sql)

select
    t.purpose_cat,
    count(1)

from (
select
      t.purpose,
      case when t.purpose like '%свадьб%' then 'свадьба'
      when t.purpose like '%машин%' or t.purpose like '%авто%' then 'машина'
      when t.purpose like '%недвиж%' then 'недвижимость'
      else 'другое' end as purpose_cat

from purpose t) t
group by t.purpose_cat

In [ ]:
sql = '''
with categories as (
select t.purpose,

case when t.purpose like '%свадьб%' then 'свадьба'
when t.purpose like '%машин%' or t.purpose like '%авто%' then 'машина'
when t.purpose like '%недвиж%' then 'недвижимость'

else 'другое' end as purpose_cat

 from purpose t)
 
 select t.purpose_cat,

count(1) from categories t
group by t.purpose_cat
'''

In [ ]:
select(sql)

    purpose_cat  count(1)
0        машина         6
1  недвижимость         2
2       свадьба         5


<a id="4.3"></a>

# <b>4.3 <span style='color:#422e13;font-family:cursive;'>|</span> Когда лучше создавать таблицы</b>

In [ ]:
sql = '''
drop table if exists categories;
create table categories as
select t.purpose,

case when t.purpose like '%свадьб%' then 'свадьба'
when t.purpose like '%машин%' or t.purpose like '%авто%' then 'машина'
when t.purpose like '%недвиж%' then 'недвижимость'

else 'другое' end as purpose_cat

 from purpose t'''

In [ ]:
cur.executescript(sql)

In [ ]:
sql = '''select * from categories t'''

In [ ]:
select(sql)

                    purpose   purpose_cat
0                    машина        машина
1                    машина        машина
2                    машина        машина
3                 на машину        машина
4         на покупку машины        машина
5                автомобиль        машина
6                на свадьбу       свадьба
7                   свадьба       свадьба
8                   свадьба       свадьба
9                   свадьба       свадьба
10              для свадьбы       свадьба
11             недвижимость  недвижимость
12  на покупку недвижимости  недвижимость

In [ ]:
sql = f'''
select 
    t.purpose_cat,
    count(1)

 from categories t
 group by t.purpose_cat'''

In [ ]:
select(sql)

    purpose_cat  count(1)
0        машина         6
1  недвижимость         2
2       свадьба         5

In [ ]:
sql = f'''
select 
      t.purpose, 
      count(1) 

from categories t
where t.purpose_cat = 'другое'
group by t.purpose
order by count(1) desc'''

In [ ]:
select(sql)

Empty DataFrame
Columns: [purpose, count(1)]
Index: []

In [ ]:
sql = '''
with categories as (
select 1

 from purpose t)
 
 select * from categories t
'''

In [ ]:
select(sql)

    1
0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   1
8   1
9   1
10  1
11  1
12  1

<a id="5"></a>

# <b>5 <span style='color:#422e13;font-family:cursive;'>|</span> Джоины</b>

<a id="5.1"></a>

# <b>5.1 <span style='color:#422e13;font-family:cursive;'>|</span> LEFT JOIN</b>

In [ ]:
sql = '''select * from german_credit t limit 5'''

In [ ]:
select(sql)

    1
0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   1
8   1
9   1
10  1
11  1
12  1

In [ ]:
users = pd.DataFrame({'id':[1,2,3],'name':['gleb','jon snow','tyrion']})

In [ ]:
users

   id      name
0   1      gleb
1   2  jon snow
2   3    tyrion

In [ ]:
items = pd.DataFrame({'user_id':[1,3,3],'item_name':['hleb','gold','wine'],'value':[5,100,20]})

In [ ]:
items

   user_id item_name  value
0        1      hleb      5
1        3      gold    100
2        3      wine     20

In [ ]:
users.to_sql('users',con,index=False,if_exists='replace')
items.to_sql('items',con,index=False,if_exists='replace')

3

In [ ]:
sql = '''
select 
      t.*, 
      i.item_name, 
      i.value, 
      i.user_id from users t
left join items i on t.id = i.user_id
'''

In [ ]:
select(sql)

   id      name item_name  value  user_id
0   1      gleb      hleb    5.0      1.0
1   2  jon snow      None    NaN      NaN
2   3    tyrion      gold  100.0      3.0
3   3    tyrion      wine   20.0      3.0

In [ ]:
sql = '''
select 
      t.*, 
      i.item_name 
from users t
join items i on t.id = i.user_id
'''

In [ ]:
select(sql)

   id    name item_name
0   1    gleb      hleb
1   3  tyrion      gold
2   3  tyrion      wine

In [ ]:
sql = '''
select 
      t.*, 
      i.item_name 
from users t
left join items i on t.id = i.user_id
where i.item_name is not null
'''

In [ ]:
select(sql)

   id    name item_name
0   1    gleb      hleb
1   3  tyrion      gold
2   3  tyrion      wine

<a id="5.2"></a>

# <b>5.2 <span style='color:#422e13;font-family:cursive;'>|</span> Агрегация с джойнами</b>

In [ ]:
users = pd.DataFrame({'id':[1,2,3],'name':['gleb','jon snow','tyrion'],
                      'victory':[2,10,1]})
items = pd.DataFrame({'id':[1,2,3],'name':['gleb1','jon snow1','tyrion1'],
                      'victory':[3,12,4]})

In [ ]:
users.to_sql('users',con_pg,index=False,if_exists='replace')
items.to_sql('items',con_pg,index=False,if_exists='replace')

3

In [ ]:
sql = '''
select 
      t.*, 
      i.item_name, 
      i.value, 
      i.user_id 
from users t
left join items i on t.id = i.user_id
'''

In [ ]:
t = select(sql)

In [ ]:
t

   id      name  victory item_name  value  user_id
0   1      gleb        2      hleb    5.0      1.0
1   2  jon snow       10      None    NaN      NaN
2   3    tyrion        1      gold  100.0      3.0
3   3    tyrion        1      wine   20.0      3.0

In [ ]:
t['victory'].sum()

14

In [ ]:
sql = '''
select 
      sum(t.victory) 
from users t'''

In [ ]:
select(sql)

   sum(t.victory)
0              13

In [ ]:
sql = '''
select 
      t.*, 
      i.item_name, 
      i.value, 
      i.user_id 
from users t
join items i on t.id = i.user_id
'''

In [ ]:
select(sql)

   id    name  victory item_name  value  user_id
0   1    gleb        2      hleb      5        1
1   3  tyrion        1      gold    100        3
2   3  tyrion        1      wine     20        3

In [ ]:
sql = '''
select 
      t.id, 
      t.name, 
      t.victory,
      count(i.item_name) as item_cnt,
      coalesce(sum(i.value),0) as value_sum

from users t
left join items i on t.id = i.user_id
group by t.id, t.name, t.victory
'''

In [ ]:
select(sql)

   id      name  victory  item_cnt  value_sum
0   1      gleb        2         1          5
1   2  jon snow       10         0          0
2   3    tyrion        1         2        120

In [ ]:
sql = '''
select 
      t.user_id, 
      count(t.item_name) as item_cnt,
      sum(value) as value_sum 
from items t
group by t.user_id'''

In [ ]:
select(sql)

   user_id  item_cnt  value_sum
0        1         1          5
1        3         2        120

In [ ]:
sql = '''
with items_agg as (

select t.user_id, count(t.item_name) as item_cnt,
sum(value) as value_sum from items t
group by t.user_id)

select t.id, t.name,
t.victory,

coalesce(i.item_cnt,0) as item_cnt,
coalesce(i.value_sum,0) as value_sum

from users t

left join items_agg i on t.id = i.user_id

'''

In [ ]:
select(sql)

   id      name  victory  item_cnt  value_sum
0   1      gleb        2         1          5
1   2  jon snow       10         0          0
2   3    tyrion        1         2        120

<a id="5.3"></a>

# <b>5.3 <span style='color:#422e13;font-family:cursive;'>|</span> FULL JOIN</b>

In [ ]:
sql = '''
select 
      t.*,
      i.*
from users t
full outer join items i 
on t.id = i.id'''

In [ ]:
select_pg(sql)

   id      name  victory  id       name  victory
0   1      gleb        2   1      gleb1        3
1   2  jon snow       10   2  jon snow1       12
2   3    tyrion        1   3    tyrion1        4

In [ ]:
sql = '''
select 
    t.*, 
    i.* 
from users t
left join items i on t.id = i.id
union 
select u.*, t.* 
from items t left join users u on t.id = u.id
'''

In [ ]:
select_pg(sql)

   id      name  victory  id       name  victory
0   2  jon snow       10   2  jon snow1       12
1   1      gleb        2   1      gleb1        3
2   3    tyrion        1   3    tyrion1        4

<a id="5.4"></a>

# <b>5.4 <span style='color:#422e13;font-family:cursive;'>|</span> INNER JOIN</b>

In [ ]:
sql = '''
select * from 
german_credit t 
limit 5'''

In [ ]:
select(sql)

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id
0,33,male,2,own,None,None,3074,9,radio/TV,0,2008-06-29 18:52:00,210
1,43,male,1,own,little,little,1344,12,car,0,2007-05-20 18:30:19,929
2,52,male,2,own,quite rich,None,936,9,education,0,2008-04-27 08:23:07,200
3,35,female,3,own,little,None,1393,11,car,0,2007-05-06 10:58:22,45
4,28,male,2,own,little,None,776,12,radio/TV,0,2007-07-21 13:22:14,358

In [ ]:
clients = pd.DataFrame({'client_id':[200,45],'data':[1,2]})

In [ ]:
clients.to_sql('clients_task_name',con,index=False,if_exists='replace')

2

In [ ]:
sql = '''
select 
      t.*, 
      ctn.data 
from german_credit t 
join clients_task_name ctn 
on t.client_id = ctn.client_id
'''

In [ ]:
select(sql)

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id,data
0,52,male,2,own,quite rich,None,936,9,education,0,2008-04-27 08:23:07,200,1
1,35,female,3,own,little,None,1393,11,car,0,2007-05-06 10:58:22,45,2

In [ ]:
sql = '''
select 1 as user_id
union all
select 2 as user_id
union all
select 3 as user_id'''

In [ ]:
select(sql)

   user_id
0        1
1        2
2        3

In [ ]:
sql = '''
select date('2021-03-01') as month
union all
select date('2021-04-01') as month
'''

In [ ]:
select(sql)

        month
0  2021-03-01
1  2021-04-01

In [ ]:
sql = '''
with users as (
select 1 as user_id
union all
select 2 as user_id
union all
select 3 as user_id),

month as

(select date('2021-03-01') as month
union all
select date('2021-04-01') as month)


select * from users t
join month m on 1=1

'''

In [ ]:
select(sql)

   user_id       month
0        1  2021-03-01
1        2  2021-03-01
2        3  2021-03-01
3        1  2021-04-01
4        2  2021-04-01
5        3  2021-04-01

<a id="5.5"></a>

# <b>5.5 <span style='color:#422e13;font-family:cursive;'>|</span> Ежемесячный отчет</b>

In [ ]:
sql = '''
select * 
from german_credit t 
limit 5'''

In [ ]:
select(sql)

,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,default,contract_dt,client_id
0,33,male,2,own,None,None,3074,9,radio/TV,0,2008-06-29 18:52:00,210
1,43,male,1,own,little,little,1344,12,car,0,2007-05-20 18:30:19,929
2,52,male,2,own,quite rich,None,936,9,education,0,2008-04-27 08:23:07,200
3,35,female,3,own,little,None,1393,11,car,0,2007-05-06 10:58:22,45
4,28,male,2,own,little,None,776,12,radio/TV,0,2007-07-21 13:22:14,358

https://drive.google.com/file/d/1ksjv4EsLItdn9rYA4oxislish-c4eE4D/view?usp=sharing

In [ ]:
! gdown --id 1ksjv4EsLItdn9rYA4oxislish-c4eE4D

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1ksjv4EsLItdn9rYA4oxislish-c4eE4D
To: /content/german_credit_augmented_transactions.csv
100% 134k/134k [00:00<00:00, 81.3MB/s]

In [ ]:
transactions = pd.read_csv('/content/german_credit_augmented_transactions.csv')

In [ ]:
transactions.head()

                    dt  client_id  amount
0  2008-04-06 11:54:47        950  161.38
1  2007-07-28 00:00:19        418   35.34
2  2008-03-14 20:43:54        131  146.50
3  2007-12-18 13:03:24        353  119.21
4  2007-11-09 05:18:30        849  105.24

In [ ]:
transactions.to_sql('client_transactions',con,index=False,if_exists='replace')

4275

In [ ]:
sql = '''
select * 
from client_transactions t limit 5'''

In [ ]:
select(sql)

                    dt  client_id  amount
0  2008-04-06 11:54:47        950  161.38
1  2007-07-28 00:00:19        418   35.34
2  2008-03-14 20:43:54        131  146.50
3  2007-12-18 13:03:24        353  119.21
4  2007-11-09 05:18:30        849  105.24

In [ ]:
sql = '''
select count(*) 
from client_transactions t limit 5
'''

In [ ]:
select(sql)

   count(*)
0      4275

In [ ]:
sql = '''
select 
      date(t.dt, 'start of month') as month,
      count(1) as transaction_cnt,
      sum(t.amount) as amount_sum

from client_transactions t
group by 1
order by 1
'''

In [ ]:
select(sql)

         month  transaction_cnt  amount_sum
0   2007-05-01              338   450912.77
1   2007-06-01              379   551664.83
2   2007-07-01              304   494134.50
3   2007-08-01              255   426903.23
4   2007-10-01              332   634846.49
5   2007-11-01              389   500420.98
6   2007-12-01              364   561449.89
7   2008-01-01              413   630137.22
8   2008-02-01              228   337043.47
9   2008-03-01              309   425599.09
10  2008-04-01              383   677194.97
11  2008-05-01              310   474962.34
12  2008-06-01              271   383710.84

In [ ]:
min = '''
select 
      date(min(t.dt),'start of month') 
from client_transactions t'''

In [ ]:
max = '''
select 
    date(max(t.dt),'start of month') 
from client_transactions t'''

In [ ]:
select(max)

  date(max(t.dt),'start of month')
0                       2008-06-01

In [ ]:
sql = f'''
WITH RECURSIVE dates(month) AS (
  VALUES(({min}))
  UNION ALL
  SELECT date(month, '+1 month')
  FROM dates
  WHERE month < ({max})
)
SELECT t.month FROM dates t'''

In [ ]:
select(sql)

         month
0   2007-05-01
1   2007-06-01
2   2007-07-01
3   2007-08-01
4   2007-09-01
5   2007-10-01
6   2007-11-01
7   2007-12-01
8   2008-01-01
9   2008-02-01
10  2008-03-01
11  2008-04-01
12  2008-05-01
13  2008-06-01

In [330]:
sql = f'''
WITH dates(month) AS (
  VALUES(({min}))
  UNION ALL
  SELECT date(month, '+1 month')
  FROM dates
  WHERE month < ({max})
),
trans_month as

(select 
date(t.dt, 'start of month') as month,
count(1) as transaction_cnt,
sum(t.amount) as amount_sum

 from client_transactions t
group by 1
order by 1)


SELECT t.month,
coalesce(tm.transaction_cnt,0) as transaction_cnt,
coalesce(tm.amount_sum,0) as amount_sum

FROM dates t
left join trans_month tm on t.month = tm.month
order by t.month'''

In [331]:
select(sql)

         month  transaction_cnt  amount_sum
0   2007-05-01              338   450912.77
1   2007-06-01              379   551664.83
2   2007-07-01              304   494134.50
3   2007-08-01              255   426903.23
4   2007-09-01                0        0.00
5   2007-10-01              332   634846.49
6   2007-11-01              389   500420.98
7   2007-12-01              364   561449.89
8   2008-01-01              413   630137.22
9   2008-02-01              228   337043.47
10  2008-03-01              309   425599.09
11  2008-04-01              383   677194.97
12  2008-05-01              310   474962.34
13  2008-06-01              271   383710.84

<a id="5.6"></a>

# <b>5.6 <span style='color:#422e13;font-family:cursive;'>|</span> Ежемесячный отчет на пользователя</b>

In [332]:
sql = '''
select 
      distinct t.client_id 
from german_credit t
'''

In [333]:
select(sql)

     client_id
0          210
1          929
2          200
3           45
4          358
..         ...
995        624
996        181
997        730
998        557
999         23

[1000 rows x 1 columns]

In [334]:
sql = '''
select 
      date(t.dt, 'start of month') as month,
      t.client_id,
      count(1) as transaction_cnt,
      sum(t.amount) as amount_sum

from client_transactions t
group by 1,2
order by 1
'''

In [335]:
select(sql)

           month  client_id  transaction_cnt  amount_sum
0     2007-05-01        101                1      149.67
1     2007-05-01        107                2      217.50
2     2007-05-01        110                1     1081.32
3     2007-05-01        111                1      139.97
4     2007-05-01        113                1     1051.29
...          ...        ...              ...         ...
3551  2008-06-01        983                1    10050.37
3552  2008-06-01        987                1      192.48
3553  2008-06-01        992                1     -610.21
3554  2008-06-01        996                1      121.28
3555  2008-06-01        999                1     -641.25

[3556 rows x 4 columns]

In [336]:
sql = f'''
WITH dates(month) AS (
  VALUES(({min}))
  UNION ALL
  SELECT date(month, '+1 month')
  FROM dates
  WHERE month < ({max})
),

clients as (select distinct t.client_id from german_credit t),

clients_month as

(SELECT t.month, c.client_id FROM dates t
join clients c on 1=1),

trans_month as 

(select 
date(t.dt, 'start of month') as month,
t.client_id,
count(1) as transaction_cnt,
sum(t.amount) as amount_sum

 from client_transactions t
group by 1,2
order by 1),

client_trans_month as (

select t.*,
tm.transaction_cnt,
tm.amount_sum,
1 as user,
case when tm.transaction_cnt > 0 then 1 else 0 end as active

 from clients_month t
left join trans_month tm on t.client_id = tm.client_id
and t.month = tm.month
)

select t.month, sum(t.user) as user_cnt, sum(t.amount_sum) as amount_sum , 
sum(t.active) as active_cnt from client_trans_month t
group by t.month
'''

In [337]:
t = select(sql)

In [339]:
sql = '''
select 
      sum(t.amount) 
from client_transactions t
'''

In [340]:
select(sql)

   sum(t.amount)
0     6548980.62

In [341]:
t['amount_sum'].sum()

6548980.619999999

In [342]:
t

         month  user_cnt  amount_sum  active_cnt
0   2007-05-01      1000   450912.77         288
1   2007-06-01      1000   551664.83         297
2   2007-07-01      1000   494134.50         259
3   2007-08-01      1000   426903.23         222
4   2007-09-01      1000         NaN           0
5   2007-10-01      1000   634846.49         283
6   2007-11-01      1000   500420.98         323
7   2007-12-01      1000   561449.89         287
8   2008-01-01      1000   630137.22         325
9   2008-02-01      1000   337043.47         204
10  2008-03-01      1000   425599.09         267
11  2008-04-01      1000   677194.97         301
12  2008-05-01      1000   474962.34         263
13  2008-06-01      1000   383710.84         237

In [343]:
2 * 365 * 10000

7300000

<a id="5.7"></a>

# <b>5.7 <span style='color:#422e13;font-family:cursive;'>|</span> Джойн таблицы самой на себя (нарастающий итог)</b>

In [344]:
t = pd.DataFrame({'dt':pd.to_datetime(['2021-04-01','2021-04-02','2021-04-03'],format='%Y-%m-%d'),
                  'revenue':[1,2,3]})

In [345]:
t

          dt  revenue
0 2021-04-01        1
1 2021-04-02        2
2 2021-04-03        3

In [346]:
t.to_sql('revenue',con,index=False,if_exists='replace')

3

In [347]:
sql = '''
select 
      t.dt,
      t.revenue, 
      sum(r.revenue) as cumsum 
from revenue t
join revenue r on r.dt <= t.dt 
group by t.dt, t.revenue
'''

In [348]:
select(sql)

                    dt  revenue  cumsum
0  2021-04-01 00:00:00        1       1
1  2021-04-02 00:00:00        2       3
2  2021-04-03 00:00:00        3       6

<a id="6"></a>

# <b>6 <span style='color:#422e13;font-family:cursive;'>|</span> Оконные функции</b>

<a id="6.1"></a>

# <b>6.1 <span style='color:#422e13;font-family:cursive;'>|</span> Что такое оконная функция?</b>

In [349]:
sql = '''
select t.*,
       sum(t.revenue) over (order by t.dt) as cum_sum
from revenue t'''

In [350]:
select(sql)

                    dt  revenue  cum_sum
0  2021-04-01 00:00:00        1        1
1  2021-04-02 00:00:00        2        3
2  2021-04-03 00:00:00        3        6

In [351]:
t = pd.DataFrame({'user_id':[1,1,1,2,2,2],'dt':pd.to_datetime(['2021-04-01','2021-04-02','2021-04-03',
                                                               '2021-04-01','2021-04-02','2021-04-03'],format='%Y-%m-%d'),
                  'revenue':[1,2,3,2,3,4]})

In [352]:
t

   user_id         dt  revenue
0        1 2021-04-01        1
1        1 2021-04-02        2
2        1 2021-04-03        3
3        2 2021-04-01        2
4        2 2021-04-02        3
5        2 2021-04-03        4

In [353]:
t.to_sql('revenue',con,index=False,if_exists='replace')

6

In [354]:
sql = '''
select t.*,
       sum(t.revenue) over (partition by t.user_id order by t.dt) as cum_sum
from revenue t'''

In [355]:
select(sql)

   user_id                   dt  revenue  cum_sum
0        1  2021-04-01 00:00:00        1        1
1        1  2021-04-02 00:00:00        2        3
2        1  2021-04-03 00:00:00        3        6
3        2  2021-04-01 00:00:00        2        2
4        2  2021-04-02 00:00:00        3        5
5        2  2021-04-03 00:00:00        4        9

<a id="6.2"></a>

# <b>6.2 <span style='color:#422e13;font-family:cursive;'>|</span> Rank и row_number</b>

In [356]:
t = pd.DataFrame({'user_id':[1,1,1,1,2,2,2],'dt':pd.to_datetime(['2021-04-01','2021-04-02','2021-04-03','2021-04-03',
                                                               '2021-04-03','2021-04-04','2021-04-05'],format='%Y-%m-%d'),
                  'revenue':[1,2,3,1,2,3,4]})

In [357]:
t.to_sql('revenue',con,index=False,if_exists='replace')

7

In [358]:
sql = '''select * from revenue t'''

In [359]:
select(sql)

   user_id                   dt  revenue
0        1  2021-04-01 00:00:00        1
1        1  2021-04-02 00:00:00        2
2        1  2021-04-03 00:00:00        3
3        1  2021-04-03 00:00:00        1
4        2  2021-04-03 00:00:00        2
5        2  2021-04-04 00:00:00        3
6        2  2021-04-05 00:00:00        4

In [360]:
sql = '''
select 
      t.*,
      rank() over (partition by t.user_id order by t.dt desc) as rnk

from revenue t'''

In [361]:
select(sql)

   user_id                   dt  revenue  rnk
0        1  2021-04-03 00:00:00        3    1
1        1  2021-04-03 00:00:00        1    1
2        1  2021-04-02 00:00:00        2    3
3        1  2021-04-01 00:00:00        1    4
4        2  2021-04-05 00:00:00        4    1
5        2  2021-04-04 00:00:00        3    2
6        2  2021-04-03 00:00:00        2    3

In [362]:
sql = '''
with dt_rank as (
select t.*,
rank() over (partition by t.user_id order by t.dt desc) as rnk
from revenue t)
select * from dt_rank t
where t.rnk = 1
 '''

In [363]:
select(sql)

   user_id                   dt  revenue  rnk
0        1  2021-04-03 00:00:00        3    1
1        1  2021-04-03 00:00:00        1    1
2        2  2021-04-05 00:00:00        4    1

In [365]:
sql = '''
select 
      t.*,
      row_number() over (partition by t.user_id order by t.dt desc) as rnk
from revenue t'''

In [366]:
select(sql)

   user_id                   dt  revenue  rnk
0        1  2021-04-03 00:00:00        3    1
1        1  2021-04-03 00:00:00        1    2
2        1  2021-04-02 00:00:00        2    3
3        1  2021-04-01 00:00:00        1    4
4        2  2021-04-05 00:00:00        4    1
5        2  2021-04-04 00:00:00        3    2
6        2  2021-04-03 00:00:00        2    3

In [368]:
sql = '''
with dt_rank as (
select t.*,
row_number() over (partition by t.user_id order by t.dt desc) as rnk
from revenue t)
select * from dt_rank t
where t.rnk = 1
 
 '''

In [369]:
select(sql)

   user_id                   dt  revenue  rnk
0        1  2021-04-03 00:00:00        3    1
1        2  2021-04-05 00:00:00        4    1

In [370]:
t = pd.DataFrame({'user_id':[1,1,1,2,2,2],'dt':pd.to_datetime(['2021-04-01','2021-04-02','2021-04-03',
                                                               '2021-04-03','2021-04-04','2021-04-05'],format='%Y-%m-%d'),
                  'revenue':[1,2,3,2,3,4]})

In [371]:
t.to_sql('revenue',con,index=False,if_exists='replace')

6

In [372]:
sql = '''
select 
      t.user_id, 
      max(t.dt) as max_dt 
from revenue t
group by t.user_id
'''

In [373]:
select(sql)

   user_id               max_dt
0        1  2021-04-03 00:00:00
1        2  2021-04-05 00:00:00

In [374]:
sql = '''

with last_dt as (
select t.user_id, max(t.dt) as max_dt from revenue t
group by t.user_id)

select t.* from revenue t
join last_dt ld on t.user_id = ld.user_id and t.dt = ld.max_dt

'''

In [375]:
select(sql)

   user_id                   dt  revenue
0        1  2021-04-03 00:00:00        3
1        2  2021-04-05 00:00:00        4

<a id="6.3"></a>

# <b>6.3 <span style='color:#422e13;font-family:cursive;'>|</span> Топ 3 зарплаты в отделе</b>

In [376]:
t = pd.DataFrame({'dep':['a','a','a','a','a',
                         'b','b','b','b','b'],
                  'emp':['aa','bb','cc','dd','ee',
                         'aa','bb','cc','dd','ee'],
                  'sal':[5,5,3,2,1,
                         5,4,3,2,1]})

In [377]:
t

  dep emp  sal
0   a  aa    5
1   a  bb    5
2   a  cc    3
3   a  dd    2
4   a  ee    1
5   b  aa    5
6   b  bb    4
7   b  cc    3
8   b  dd    2
9   b  ee    1

In [378]:
t.to_sql('salary',con,index=False,if_exists='replace')

10

In [379]:
sql = '''
select 
      t.*,
      rank() over (partition by t.dep order by t.sal desc) as rnk_rank,
      dense_rank() over (partition by t.dep order by t.sal desc) as rnk
from salary t'''

In [380]:
select(sql)

  dep emp  sal  rnk_rank  rnk
0   a  aa    5         1    1
1   a  bb    5         1    1
2   a  cc    3         3    2
3   a  dd    2         4    3
4   a  ee    1         5    4
5   b  aa    5         1    1
6   b  bb    4         2    2
7   b  cc    3         3    3
8   b  dd    2         4    4
9   b  ee    1         5    5

In [381]:
sql = '''
with salary_rnk as (
select t.*,
dense_rank() over (partition by t.dep order by t.sal desc) as rnk
from salary t)
select * from salary_rnk t
where t.rnk <= 3
 '''

In [382]:
select(sql)

  dep emp  sal  rnk
0   a  aa    5    1
1   a  bb    5    1
2   a  cc    3    2
3   a  dd    2    3
4   b  aa    5    1
5   b  bb    4    2
6   b  cc    3    3

<a id="6.4"></a>

# <b>6.4 <span style='color:#422e13;font-family:cursive;'>|</span> Клиентские сессии</b>

In [383]:
user1 = pd.DataFrame({'user_id':[1,1,1,1,1],
                  'dt':pd.to_datetime(['2021-04-01 07:31','2021-04-01 07:35',
                                       '2021-04-01 08:20','2021-04-01 12:31',
                                       '2021-04-03 07:31'],format='%Y-%m-%d %H:%M')})

In [384]:
user1

   user_id                  dt
0        1 2021-04-01 07:31:00
1        1 2021-04-01 07:35:00
2        1 2021-04-01 08:20:00
3        1 2021-04-01 12:31:00
4        1 2021-04-03 07:31:00

In [385]:
user2 = pd.DataFrame({'user_id':[2,2,2,2],
                  'dt':pd.to_datetime(['2021-04-01 07:31','2021-04-01 07:35',
                                       '2021-04-01 08:20','2021-04-01 9:10',
                                       ],format='%Y-%m-%d %H:%M')})

In [386]:
user3 = pd.DataFrame({'user_id':[3,3,3],
                  'dt':pd.to_datetime(['2021-04-01 07:31','2021-04-02 07:35',
                                       '2021-04-03 08:20'
                                       ],format='%Y-%m-%d %H:%M')})

In [387]:
t = pd.concat([user1,user2,user3])

In [388]:
t

   user_id                  dt
0        1 2021-04-01 07:31:00
1        1 2021-04-01 07:35:00
2        1 2021-04-01 08:20:00
3        1 2021-04-01 12:31:00
4        1 2021-04-03 07:31:00
0        2 2021-04-01 07:31:00
1        2 2021-04-01 07:35:00
2        2 2021-04-01 08:20:00
3        2 2021-04-01 09:10:00
0        3 2021-04-01 07:31:00
1        3 2021-04-02 07:35:00
2        3 2021-04-03 08:20:00

In [389]:
t.to_sql('client_log',con,index=False,if_exists='replace')

12

In [390]:
sql = '''select * from client_log t'''

In [391]:
select(sql)

    user_id                   dt
0         1  2021-04-01 07:31:00
1         1  2021-04-01 07:35:00
2         1  2021-04-01 08:20:00
3         1  2021-04-01 12:31:00
4         1  2021-04-03 07:31:00
5         2  2021-04-01 07:31:00
6         2  2021-04-01 07:35:00
7         2  2021-04-01 08:20:00
8         2  2021-04-01 09:10:00
9         3  2021-04-01 07:31:00
10        3  2021-04-02 07:35:00
11        3  2021-04-03 08:20:00

In [392]:
sql = '''
with new_session as (
select t.*,
lag(t.dt) over (partition by t.user_id order by t.dt) as prev_dt,
round((julianday(t.dt) - julianday(lag(t.dt) over (partition by t.user_id order by t.dt))) * 24 * 60 * 60) as dt_diff,

case when round((julianday(t.dt) - julianday(lag(t.dt) over (partition by t.user_id order by t.dt))) * 24 * 60 * 60) >= 3600
then 1 else 0 end as new_session
from client_log t),

client_sessions as (
select 
      t.*,
      sum(t.new_session) over (partition by t.user_id order by t.dt) as session_id
      from new_session t),
      client_sessions_agg as (
      select t.user_id, t.session_id, count(1) as action_cnt from client_sessions t
      group by t.user_id, t.session_id)

select count(*) from client_sessions_agg t
 
 '''

In [393]:
select(sql)

   count(*)
0         7

<a id="6.5"></a>

# <b>6.5 <span style='color:#422e13;font-family:cursive;'>|</span> Скользящее среднее</b>

In [394]:
t = pd.DataFrame({'user_id':[1,1,1,1,1,1,
                             2,2,2,2,2],
                  'dt':[1,2,3,4,5,6,
                        1,2,3,4,5],
                  'revenue':[1,2,3,4,5,6,
                             3,4,5,6,7]})

In [395]:
t.to_sql('revenue',con,index=False,if_exists='replace')

11

In [396]:
sql = '''
select 
      t.*,
      avg(t.revenue) over (partition by t.user_id order by t.dt
      rows between 2 preceding and current row
      ) as moving_avg
 from revenue t'''

In [397]:
select(sql)

    user_id  dt  revenue  moving_avg
0         1   1        1         1.0
1         1   2        2         1.5
2         1   3        3         2.0
3         1   4        4         3.0
4         1   5        5         4.0
5         1   6        6         5.0
6         2   1        3         3.0
7         2   2        4         3.5
8         2   3        5         4.0
9         2   4        6         5.0
10        2   5        7         6.0